.print-ctr {
  /* width: 210px;
   */
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
}
.print {
  text-align: center;
}
.print-pharmacy > span:nth-child(1) {
  display: block;
  font-size: 20px;
}
.print-pharmacy > span {
  display: block;
  font-size: 7px;
  margin: 2px 0px;
}
.print-title {
  display: block;
  margin: 2px 0px;
  font-size: 15px;
}
.date,
.attendant {
  text-align: left;
  font-size: 15px;
  text-align: center;
}
.content {
  margin: 15px 0px;
  font-size: 15px;
}
.grid {
  /* width: 200px; */
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.grid div:first-child {
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left !important;
}
.grid-row {
  flex: 1;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    width: 100%;
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 5mm;
}

@media print {
}
