.banner {
  height: 50px;
  background-color: #000;
  color: white;
}
.-b-ctr {
  width: 75%;
  margin: 0px auto;
}
header {
  /* background-color: red; */
}
header > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
  height: 65px;
}
.header-logo {
  flex: 1;
}
.header-search {
  flex: 2;
}
.header-user {
  flex: 2;
}

/*the header search*/
.search {
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 5px 0px 5px 15px;
  margin: 0px;
  border-radius: 30px;
  /* width: 32vw; */
  width: 100%;
  box-shadow: 0px 0px 5px #e4e1e1;
}
.search:hover {
  box-shadow: 0px 0px 15px #e4e1e1;
}
.-ns {
  padding: 5px 1px;
  font-size: 20px;
  border: 0;
  outline: none;
  width: 90%;
  margin: 0px auto;
}
.search-button {
  cursor: pointer;
  background-color: #fff;
  border: 0;
  font-size: 20px;
}
.search-button:focus {
  outline: none;
}
/*the header search*/

.header-user {
  display: flex;
  justify-content: space-around;
}
/*drop down*/
.-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}
.-user:hover {
  color: orange;
}
.-help-list {
  position: absolute;
  top: 35px;
  list-style: none;
  width: 150px;
  background-color: white;
  left: -5px;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0px 0px 12px #c2c1c1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* display: none; */
}
.-a-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffbb00;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  color: white;
  margin: 5px 0px;
}
.-help-list > a > li {
  margin: 5px 0px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14.5px;
}
.-help-list > a > li > i,
.-a-btn > i {
  margin-right: 5px;
}
.-help-list > a > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
}
.-dropdown {
  padding: 5px;
  outline: 0;
  border: 0;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.-dropdown:hover {
  color: #ffbb00;
}
/*drop down*/
