@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 8.5px;
  background-color: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: #f5f5f5;
  font-size: 14px;
}
main {
  width: 100vw;
  max-width: 100%;
}
.-b-x {
  box-shadow: 0px 0px 10px #cccbcb;
}
.-br {
  border-radius: 5px;
}

.width-auto {
  width: 72%;
  margin: 25px auto;
}
.plus-btn {
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffbb00;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #cccbcb;
  color: white;
  cursor: pointer;
}
.plus-btn:hover {
  opacity: 0.8;
}
